<!doctype html>
<html>
<head>
{% include head.html %}
</head>
<body>
<div class="wrapper">
  <header>
    {% capture header %}{% include header.md %}{% endcapture %}
    {{ header | markdownify }}
    {% if page.collection == "docs" %}
      <a href="{{ site.github.url }}">Tags</a>
    {% endif %}
    
  </header>
  <section>
    {{ content }}
  </section>
  <footer>
    {% capture footer %}{% include footer.md %}{% endcapture %}
    {{ footer | markdownify }}
  </footer>
 </div>
<script src="{{ site.github.url }}/js/scale.fix.js"></script>
<script>
$('section').linkify({ignoreTags: ['code']});
</script>
{% include google-analytics-tracking-code.html %}
</body>
</html>
