<!doctype html>
<html>
<head>
{% include head.html %}
</head>
<body>
<div class="wrapper">
  <header>
    {% capture header %}{% include header.md %}{% endcapture %}
    {{ header | markdownify }}
    {% if page.collection == "docs" %}
      {% include tags.md %}
    {% endif %}
    
  </header>
  <section>
    {{ content }}
  </section>
  <footer>
    {% capture footer %}{% include footer.md %}{% endcapture %}
    {{ footer | markdownify }}
  </footer>
 </div>
<script src="{{ site.github.url }}/scale.fix.js"></script>
</body>
</html>
